<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/alerts.js"></script>

    <link rel="stylesheet" href="/css/login-style.css">
    <title>Login Page</title>
</head>
    <body>
        <input type="hidden" id="alertMessage" th:value="${message}"/>
        <div class="container">
            <div class="image-container">
                <img src="/image/bg.jpeg" alt="Login Image">
            </div>
            <div class="login-container">
                <h2>Nanumi</h2>
                <form id="login-form" action="/login/login" method="post">
                    <div class="input-group">
                        <label for="email">이메일</label>
                        <input type="text" id="email" name="email" th:value="${email}" required>
                    </div>
                    <div class="input-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" th:value="${password}" required>
                    </div>
                    <div class="input-group remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">자동로그인</label>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn">로그인</button>
                    </div>
                    <div class="login-links">
                        <a th:href="@{/login/forget-password-view}">비밀번호 찾기</a>
                        <a th:href="@{/login/signup-view}">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
